append variables
 - var date, year, month, day
 - var formatter = new Intl.NumberFormat('ko-KR', { style: 'currency', currency: 'KRW' });

mixin SearchList
    .container
          table(class = "table")
            thead
              tr
                th Wine
                th 한글명
                th 구입처
                th 가격
                th 구매일
            tbody
                if resource
                    if resource.length !== 0
                      each item in resource
                        - date = item.purchaseDate
                        - year = date.getFullYear()
                        - month = date.getMonth() + 1
                        - day = date.getDate()
                        tr
                            td= item.vinInfo.vinName
                            td= item.vinInfo.vinNameKor
                            td= item.resourcePrice.store
                            td= formatter.format(item.resourcePrice.price)
                            td= year + '-' + month + '-' + day
                    else
                        tr
                            td no result
                            td no result
                            td no result
                            td no result
                            td no result
                else if vin
                    if vin.length !== 0
                      each item in vin
                        - date = item.resource.purchaseDate
                        - year = date.getFullYear()
                        - month = date.getMonth() + 1
                        - day = date.getDate()
                        tr
                            td= item.vinName
                            td= item.vinNameKor
                            td= item.resource.resourcePrice.store
                            td= formatter.format(item.resource.resourcePrice.price)
                            td= year + '-' + month + '-' + day
                    else
                        tr
                            td no result
                            td no result
                            td no result
                            td no result
                            td no result